*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    max-width: 100%;
    height: auto;
    font-family: 'Courier New', Courier, monospace;
   background-color: rgb(248, 247, 245);
   overflow-x: hidden;
}
header {
    background-color: #53014d;
    color: #f9f9f9;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 10vh;
    width: 100%;
}
header h1{
    text-align: justify;
    margin-left: 20px;
    font-size: 0.5em;
    font-family:  'Roboto', sans-serif;
    margin-bottom: 20px;
}
header  h1 a{
    text-decoration: none;
    color: #ffffff;

}
nav {
    box-shadow:none;
    font-size: 1.2em;
    position: absolute;
    right: 0;
    left: 20px;
    top: 10vh;
    height: auto;
    width: 250px;
    display: none;
    z-index: 1;
    
}
nav a{
    font-size: 0.7em;
    margin-left: 20px;
    text-decoration: none;
    color: #ebe5e9;
    font-weight: bold;
}

nav ul {
    width: 100%;
    list-style-type: none;
    text-align: justify;
    margin: 20px auto;
    padding: 0;
 
}
nav li{
    font-size: 1.5rem;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: justify;
    

}
nav  ul li {
    display: flex;
    margin-right: 100px;
}


.menu-btn.close {
    position: absolute;
    top: 10px; /* Adjust the top value as needed */
    right: 10px; /* Adjust the right value as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    background-color: #53014d;
    border: 2px solid #2C363F;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2; /* Ensure the close button is above other elements */
}


.menu-btn:hover {
    background-color: #f3bbeb;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.421);
}

.menu-btn {
    display: flex;
    align-items: center;
    padding: 8px 15px;
    background-color: #53014d;
    border: rgb(0, 0, 0) solid 2px;
    cursor: pointer;
    margin-right: 20px;
    border-radius: 5px; /* Add rounded corners */
    width: fit-content; /* Set width to fit content */
     height: 10vh;
     transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.menu-icon {
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the bars */
}

.bars {
    display: block;
    width: 80px;
    height: 3px;
    background-color: #bc89b8;
    margin: 5px 0;
    border-radius: 3px; /* Add rounded corners */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}


.c1, .c2 {
    width: 30px;
    position: relative;
    top: 0;
}
.about-section {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: #cd7fc4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: center; /* Center the text within the section */
}

.about-section h2 {
    color: #000000;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: justify;
}

.about-section p {
    color: #0d0d0d;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 15px;
    max-width: 50ch;
    margin-right: 60px;
    text-align: justify;
}
footer{
    background-color: #53014d;
    color: #f8f6f6;
    width: 100%;
    padding: 20px;
    margin-top: 30px;
  
}

footer h4{
    font-size: 1rem;
    text-align: center;
    margin:10px auto;  /* Center the text */
}
main {
    padding: 2rem;
  }
  

  .process {
    max-width: 70ch;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #cd7fc4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    text-align: justify;
}

.process h1 {
    color: #10000f;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.process article {
    margin-bottom: 2rem;
}

.process h2 {
    color: #431f3e;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.process p {
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}

.process code {
    background-color: #f4f4f4;
    padding: 2px 4px;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
}

.process ol {
    margin-left: 2rem;
}

.process li {
    margin-bottom: 0.5rem;
    font-weight: 400;
    line-height: 1.5;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
}
  .image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 20px;
    padding: 20px;
  }
  main h1{
    font-size: 2.5rem;
    color: #53014d;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .image-gallery img {
    width: 100%;
    height: auto;
    border-radius: 8px; /* Optional: Add rounded corners to images */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle box shadow */
    transition: transform 0.3s ease-in-out;
  }
/* Responsive Styles */

/* styles for larger screens  */
@media only screen and (min-width: 1025px) {
    /*header {
       padding: 0 3em;
   } */

   .menu-btn {
       display: none;
   }

   #open-menu {
       display: none !important;
   }
   #close-menu{
       display: none !important
   }
   header {
       position: static;
   }

   nav {
       display: block !important;
       position: static;
       box-shadow: 0 0px 0px;
       right: 0;
       top: 0;
       height: auto;
       font-size: 1.4em;
       width: auto;
   }

   nav ul {
       display: flex;
   }
   nav li {
       display: inline;
       padding: 1.2em 0;
   }
}

@media only screen and (max-width: 768px) {
    header {
        padding: 10px;
        margin-left: 0;
        width: 100%;
    }
    nav {
        
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    nav ul {
        width: 100%;
        list-style-type: none;
        text-align: center;
        margin: 10px auto;
        padding: 0;
        background-color: #2d0b2b;
    }

    nav li {
        font-size: 1.5rem;
        padding: 10px 0;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 0;
    }

    .image-gallery h1 {
        font-size: 1.2rem;
    }
   .about-section h1{
    font-size: 1.2rem;

   }
   .about-section p{
    font-size: 1rem;
    max-width: 40ch;
   }
   .about-section{
    max-width: 100%;
   }
   footer{
    margin-top: 55px;
   }
   
}
@media  screen and (max-width: 1024px) {
    nav {
        
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    nav ul {
        width: 100%;
        list-style-type: none;
        text-align: center;
        margin: 10px auto;
        padding: 0;
        background-color: #2d0b2b;
    }

    nav li {
        font-size: 1.5rem;
        padding: 10px 0;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 0;
    }
}